.main {
  background-color: #2f4657;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .sobre {
    width: 100%;
    border-bottom: solid 2px #396c90;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .bio {
      width: 50%;
      min-width: 300px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        margin-bottom: 25px;
        font-size: 2rem;
      }

      p {
        overflow-wrap: break-word;
        text-align: justify;
      }
    }

    img {
      width: 300px;
      max-width: 100%;
      border-radius: 10%;
    }
  }

  .tech {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 25px;
      font-size: 2rem;
    }

    .stacks {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      border-bottom: solid 2px #396c90;
      padding: 2rem;
    }
  }

  .projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 2px #396c90;

    h2 {
      margin-bottom: 50px;
      font-size: 2rem;
    }

    .cardProjeto {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
