.cards {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.5rem;
  }

  .article {
    background-color: #fff;
    width: 400px;
    height: 250px;
    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    transition: 0.5s;
    margin-bottom: 25px;

    &:hover {
      border-radius: 30px;
      scale: 1.1;
      filter: none;
      box-shadow: 0 0 10px 4px #396c90;
    }
  }

  .links {
    width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;

    a {
      text-decoration: none;
      font-size: 1.2rem;
      transition: 0.5s;

      &:hover {
        color: #396c90;
      }
    }
  }
}
