@use "../../variaveis" as *;

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: clamp(280px, 30vw, 400px);

  h2 {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.article {
  width: 100%;
  height: clamp(200px, 25vw, 280px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.links {
  display: flex;
  gap: 16px;

  a {
    text-decoration: none;
    color: $branco-suave;
    font-weight: 500;
    transition: 0.3s;

    @media (hover: hover) {
      &:hover {
        scale: 1.1;
      }
    }
  }
}
