.header {
  height: 20vh;
  background-color: #13253e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px #396c90;

  .info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }

  .links {
    width: 50%;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        color: #396c90;
      }
    }
  }
}
